# ==========================
# Ravenna-Time - .gitignore
# ==========================

#Executáveis gerados pela Compilação
ravenna
ravenna.exe
/*.exe


# Arquivos Objeto
*.o
*.obj

# Diretório de Build
build/*
!build/.gitkeep

vendor/webview2-headers/*.h